
/*-- scss:defaults --*/

@import url('https://www.cssfontstack.com/Optima');
$optima-font: 'Optima', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
$fira-font: 'Fira Code', monospace; 

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
$crimson-font: 'Crimson Text', serif; 

$font-family-sans-serif: $optima-font;
$font-family-monospace: $fira-font; 

/*-- scss:rules --*/

p {
  font-family: $optima-font;
  font-size: 0.9em;
}

body {
  font-family: $optima-font;
}

.navbar {
  font-family: $optima-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $crimson-font;
  font-variant: small-caps;
}

div.csl-entry {
  font-size: 0.8em;
}