
/*-- scss:defaults --*/

@import url('https://www.cssfontstack.com/Optima');
$optima-font: 'Optima', sans-serif;

/*-- scss:rules --*/

.navbar {
  font-family: $optima-font;
}

h1, h2, h3, h4, h5, h6 {
  font-variant: small-caps;
}